extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let Milkid = toShow._id
    - let Milkname = toShow.name
    - let Milktype = toShow.type
    - let Milkprice = toShow.price

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{Milkid}
      - let actionid = "/resource/Milk/" + Milkid
      form(id='MilkForm', action=actionid, method="PUT")
        div.form-group
          label.MilkAttr(for='name') Milk type
          input#name(type='text', name='name', value=Milkname)
        div.form-group
          label.MilkAttr(for='type') Milk size
          input#type(type='text', name='type', value=Milktype)
        div.form-group
          label.MilkAttr(for='price') Milk cost
          input#price(type='number', name='price', value=Milkprice)
        input(type="submit")

    script.
      document.forms['MilkForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error);
        });
      });
